
#chat-container{
    max-width: 600px;
    margin: 30px auto;
    border: 1px solid pink;
    box-shadow: 1px 3px 5px red;
    
    

}
#chat-window{
    padding: 14px 0;
    margin: 0 20px;
    border-bottom: 5px solid blue;
    color: aliceblue;
    
  height: 100px;
  overflow-y:auto;
  display: flex;
  flex-direction: column-reverse;


}
#output p{
    color:red;
    padding: 14px 0;
    margin: 0 20px;
   
    
    
}
#actions{
    padding: 14px 0;
    margin: 0 20px;
    border-bottom: 2px solid rgb(99, 235, 99);
    color: rgb(228, 58, 58);

}
input{
    padding: 10px 20px;
    box-sizing: border-box;
    border: 0;
    background:rgba(128, 128, 128, 0.452);
    display: block;
    width: 100%;
}
button{
    background-color: blue;
    color: white;
    font-size: 18px;
    border: 0;
    padding: 12px 0;
    width: 100%;
    border-radius: 0 0 2px 2px;

}
/*css planeta planetaterra */

@import url('https://fonts.gooleapis.com/css?family=poppins:100,200,300,400,500,600,700,800,900');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    
}
body{
  
background-image: url('/imagens/lua.jpg');
   height: 250vh;
}
.usuario{
    width:100%;
    position:relative;
}


.planeta {
    display: flex;
    flex-direction: column;
    
}

.planeta h2 {
    color: rgb(245, 241, 241);
    font-size: 4em;
    margin-bottom: 10px;
    font-weight: 600;
    text-shadow: 0px 0px 7px rgb(0, 247, 255);
}

#radio-on {
    color: green;
    font-size: 20px;
    margin-top: 10px;
}

.planeta .container1 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    -webkit-box-reflect: below 1px linear-gradient(#0001, #0002);
}

.planetaterra {
    position:absolute;
    min-width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #182357;
}

.planetaterra .loader {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.planetaterra .loader:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to top, transparent, rgba(0, 255, 249, 0.4));
    background-size: 200px 360px;
    background-repeat: no-repeat;
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
}

.planetaterra .loader:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    background: #00fff9;
    border-radius: 50%;
    z-index: 10;
    box-shadow: 0 0 10px #00fff9, 0 0 20px #00fff9, 0 0 30px #00fff9, 0 0 40px #00fff9, 0 0 50px #00fff9, 0 0 60px #00fff9, 0 0 70px #00fff9, 0 0 80px #00fff9, 0 0 90px #00fff9, 0 0 100px #00fff9, ;
}

.planetaterra .loader span {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 0px;
    background: #182357;
    border-radius: 50%;
}

.terra {
    position: absolute;
    width: 270px;
    height: 270px;
    background: url(/imagens/lua.jpg);
    border-radius: 50%;
    background-size: cover;
    box-shadow: inset 0 0 20px #03a9f4, 0 0 120px #0b171d;
    animation: animateEarth 20s linear infinite;
}

@keyframes animateEarth {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 162.5%;
    }
}



.terra2 {
   
    position: absolute;
    width: 70px;
    height: 70px;
    background: url(/imagens/earth.jpg);
    border-radius: 50%;
    background-size: cover;
    box-shadow: inset 0 0 20px #57b1d8, 0 0 120px #0b171d;
    animation: animateEarth 20s linear infinite;
    justify-content: center ;

}


.planeta .container2 {
    width: 100%;
    
    display: flex;
    justify-content:right;
    align-items: right;
    
    -webkit-box-reflect: below 1px linear-gradient(#0001, #0002);
    
   
}
.planetaterra2 {
    
    overflow:hidden;
    height: 100%;
    
    align-items: center;
    background: #1b1b1d;
}
.img{
    border-radius: 100%;
    width: 70px;
    height: 70px;
    margin-right: 10px;
    box-shadow: 0px 0px 10px rgb(228, 27, 27);
    
}
.playlist{
    width: 100%;
    overflow-y: scroll;
    margin-top: 35px;
    text-align: center;
}
.card01{
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
    width: 90%;
}
.card{
    width: 90%;
    height: 50vh;
}
button{
    background-color: green;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgb(20, 18, 18);
}
#back{
    background-color: green;
}
p{  font-size: 25px;
    color: rgb(248, 245, 245);
}
h1 ,h3{
    color: red;
    text-shadow: 0px 0px 7px rgb(30, 30, 31);
}
.galeria{
    width: 440px;
    height: 175px;
    background-color: rgb(34, 31, 31);
    overflow: hidden;

}
.galeria .fotos{
    width: 499%;
    animation-name: animacao;
    animation-duration: 20s;
    animation-iteration-count: infinite;


}
.galeria .fotos img{
    width: 19.9%;

}
@keyframes animacao{
    0%{margin-left: 0;}
    20%{margin-left: 0;}
    25%{margin-left: -100%;}
    45%{margin-left: -100%;}
    50%{margin-left: -200%;}
    70%{margin-left: -200%;}
    75%{margin-left: -300%;}
    95%{margin-left: -300%;}
    100%{margin-left: -400%;}
    
}